
<div class="jumbotron">
    <div class="row">
                <div class="col-sm-4">      <a routerLinkActive="active" routerLink='/showbalance'>  ShowBalance</a></div>
                    <div class="col-sm-4">      <a routerLinkActive="active" routerLink='/deposit'> <img src="https://www.freelogodesign.org/file/app/client/thumb/5799bfe0-a5b6-441e-b061-0c5339e83c06_200x200.png?1565330259575"></a></div>
   </div>
   <div class="row">    
        <div class="col-sm-4">      <a routerLinkActive="active" routerLink='/withdraw'> <img src="https://www.freelogodesign.org/file/app/client/thumb/8e763524-2781-42e8-b770-a1cdd9d0879d_200x200.png?1565330161955"></a></div>
            <div class="col-sm-4">     <a routerLinkActive="active" routerLink='/fundtransfer'> <img src="https://www.freelogodesign.org/file/app/client/thumb/491a07ba-4771-481b-a2cf-a43e49c23174_200x200.png?1565330318844"></a></div>
                <div class="col-sm-4">   <a routerLinkActive="active" routerLink='/printtransaction'><img src="https://www.freelogodesign.org/file/app/client/thumb/d58f50be-3cb2-44da-a236-42a00d498146_200x200.png?1565330382330">  </a></div>
    </div>
    <form class="col-sm-4 container-fluid">
       
    <div class="form-group">
            <input type="submit" class="btn btn-success btn-block" value="Logout" routerLink="/loginComponent">
      </div>
      </form>
 </div>
  
<router-outlet></router-outlet>
